/* - Global styles - */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

/* html body */
html,
body {
    width: 100vw;
    height: 100vh;
    font-family: glaho;
}

/* - Fonts - */
@font-face {
    font-family: glaho;
    src: url("../fonts/bpg_glaho.ttf");
}

@font-face {
    font-family: capital;
    src: url("../fonts/bpg_nino_mtavruli_normal.ttf");
}

@font-face {
    font-family: capital-bold;
    src: url("../fonts/BPG_Nino_Mtavruli_Bold.otf");
}