<template lang="html">
    <div id="app">
        <h1>{{ title }}</h1>
        <router-view />
    </div>
</template>

<script>
export default {
  data() {
    return {
      title: "მოგესალმებით მეგობრებო!"
    };
  }
};
</script>

<style scoped>
</style>

